spring:
  application:
    name: edu-zuul
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
server:
  port: 9101

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:9001/eureka/

zuul:
  routes:
    api-video:
      path: /api/video/**
      serviceId: edu-minio-video-web
    api-oss:
      path: /api/oss/**
      serviceId: edu-aliyun-oss-web
    api-microservice:
      path: /api/edu/**
      serviceId: edu-microservice-web