<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.edu.service.mapper.CourseMapper">
    <select id="selectCourseById" parameterType="String" resultType="com.liao.edu.service.entity.Course">
        select id, teacher_id, subject_id, title, price, lesson_num, cover, buy_count, view_count, version, status, gmt_create, gmt_modified
        from  edu_course
        where id=#{id}
    </select>
</mapper>
